.terrain-row {
    display: flex;
    line-height: 0;
    font-size: 0;
    margin: 0;
    padding: 0;

    .terrain {
        width: 32px;
        height: 32px;
        display: inline-block;
        ;
    }

    .terrain-plain {
        background-color: #90f594;
    }

    .terrain-river {
        background-color: #82c5fc;
    }

    .terrain-mountain {
        background-color: #bd9c90;
    }
}